*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
    width: 100%;
    height: 50px;
    background-color:#fff;
}

.nav nav{
    width:90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: #f70303;
}
.nav nav button{
    padding:8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.nav nav h2{
    font-size:30px;
    font-weight: bold;
}

.img{
    width: 100%;
    min-height:500px;
    text-align: center;
    margin-top: 15px;
    
    /* background-color: red; */
}

.img img{
    width: 95%;
}
.content{
    margin:25px auto;
    width:100%;
    /* background-color: aqua; */
    height: 160px;
    position: relative;
}
.content h1{
    color: #f70303;
    font-weight: bold;
}

.content .button{
  float: right;
  margin-top: 20px;
  margin-right:20px;
}

.content .button button{
    padding: 10px 15px;
    border: #3f3a3a;
    border-radius:5px;
    font-size:17px;
    font-weight: bold;

}

.content .button #b2{
    background-color: #f70303;
    color: #fff;
}

.form{
    width: 90%;
    height: 50px;
    margin-right:20px;
    /* background-color: red; */
    position: absolute;
    bottom:2px;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    box-shadow: 3px 3px 3px #aaa;
    border-radius: 5px;
    
}

.form input{
    width: 80%; 
    height:80%;
    border: none;
    outline: none;
    padding: 0 5px;
    direction: rtl;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}
.form button{
    width: 18%;
    height: 85%;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #ff0000;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
}

.form button img{
    width: 30px;
}
.form #pn{
    background-color: #fff;
}

.crot{
    width: 100%;
    height: 300px;
    background-color: #f70303;
    margin: auto;
    text-align: center;
}

.crot img{
    width: 100%;
}

.exit{
    width: 100%;
    height: 300px;
    background-color: #3f3a3a;
}